body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
button{
    background: rgb(7, 151, 50);
    padding: 15px;
    color: rgb(255, 255, 255);
    border: none;
    
}
.spa{
     display: grid;
     place-items: center;
}
.spa > *{
    margin-top: 10px;
}
input{
    width: 200px;
    padding: 10px;
}