.container{
    display: grid;
    grid-template-columns: auto auto auto;
    position: relative;
}
.card{
    background: rgb(70, 64, 64);
    color: rgb(210, 198, 30);
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
}
button{
    margin: 20px auto;
    background-color: chocolate;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
}
.id{
    text-align: center;
    border: 2px solid rgb(5, 207, 5);
    width: 20px;
}